<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Add Education</title>
</head>
<body>
<h2>Add an educational achievement, at least one is required</h2>
<form action="#" th:action="@{/addeducation}" th:object="${addeducation}" method="post">
    <p>Degree  <textarea rows="2" th:field="*{degree}"/>
        <span th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}">Problem with "degree"</span></p>
    <p>University  <textarea rows="3" th:field="*{university}"/>
        <span th:if="${#fields.hasErrors('university')}" th:errors="*{university}">Problem with "university"</span></p>
    <p>Year  <input type="number" th:field="*{year}"/>
        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Problem with "year"</span></p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset"/></p>
</form>
</body>
</html>