<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Add Skill</title>
</head>
<body>
<h2>Add a skill, at least one is required</h2>
<form action="#" th:action="@{/addskill}" th:object="${addskill}" method="post">
    <p>Name  <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Problem with "name"</span></p>
    <p>Rating  <input type="text" th:field="*{rating}"/>
        <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Problem with "rating"</span></p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset"/></p>
</form>
</body>
</html>